<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="New web page" />
    <meta name="keyword" content="keyword" />
    <meta name="lenguage" content="ES" />
    <meta name="author" content="exdesy.design@gmail.com" />
    <meta name="robots" content="index.follow" />
    <meta name="revised" content="Day, Month, Date, Year, Time" />
    <meta name="vierport" content="width=device=width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1" />

    <title>CHECK</title>
    <link rel="shortcut icon" href="resourses/lib/img/logo.ico" />
    <!-- ------------------------------  LIBRARY  ------------------------------ -->

    <!-- ------------------------------  STYLES  ------------------------------ -->
    <link href="resourses/css/index.css" rel="stylesheet" type="text/css" />
    <link href="resourses/css/check.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <div class="content">
        <main>
          <div class="loader" id="mainContent">
            <h1><%= message %></h1>
            <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
              <div class="wheel"></div>
              <div class="hamster">
                <div class="hamster__body">
                  <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                  </div>
                  <div class="hamster__limb hamster__limb--fr"></div>
                  <div class="hamster__limb hamster__limb--fl"></div>
                  <div class="hamster__limb hamster__limb--br"></div>
                  <div class="hamster__limb hamster__limb--bl"></div>
                  <div class="hamster__tail"></div>
                </div>
              </div>
              <div class="spoke"></div>
            </div>
            <a class="menu-text" href="/login">Pagina de inicio</a></li>
          </div>
        </main>
        <footer>
          <div class="footer">
            <div class="copyright">
            </div>
          </div>
        </footer>
      </div>
    </div>
    </div>
  </body>
</html>
