<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="New web page">
      <meta name="keyword" content="keyword">
      <meta name="lenguage" content="ES">
      <meta name="author" content="exdesy.design@gmail.com">
      <meta name="robots" content="index.follow">
      <meta name="revised" content="Day, Month, Date, Year, Time">
      <meta name="vierport" content="width=device=width, initial scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1">

      <title>Head</title>
      <link rel="shortcut icon" href="img/logo.ico">
      <!-- ------------------------------  LIBRARY  ------------------------------ -->

      <!-- ------------------------------  STYLES  ------------------------------ -->
      <link href="resourses/css/index.css" rel="stylesheet" type="text/css"/>
      <link href="resourses/css/consult.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      <div class="wrapper">
        <header class="header">
          <div class="header-title">
            <h1 class="title-text">Gestion <span>Generica</span></h1>
          </div>
          <nav class="header-nav">
            <div class="nav-menu">
              <a class="menu-text" href="/home">Inicio</a></li>
              <a class="menu-text" href="/create">CREAR</a></li>
              <a class="menu-text" href="/edite">MODIFICAR</a></li>
              <a class="menu-text" href="/delete">ELIMINAR</a></li>
              <a class="menu-text" href="/consult">CONSULTAR</a></li>
            </div>
          </nav>
        </header>
         <div class="content">
            <main>
              <div class="consult">
                <div class="form-container">
                  <form class="form" id="searchForm" action="/getUser" method="post">
                    <h1>Buscar Usuario</h1>
                    <div class="form-group">
                      <label for="email">Correo</label>
                      <input name="email" id="email" type="email" required>
                    </div>
                    <button type="submit" class="form-submit-btn">Buscar</button>
                  </form>
                </div>
                <div class="form-container">
                  <form class="form" id="userDataForm">
                    <h1>Datos del Usuario</h1>
                    <p id="firstName">Nombre: </p> 
                    <p id="lastName">Apellidos: </p>
                    <p id="age">Edad: </p>
                    <p id="email">Correo: </p>
                    <p id="address">Dirección: </p>
                    <p id="mobile">Teléfono: </p>
                  </form>
                </div>
              </div>
            </main>
         </div>
         <footer>
          <div class="footer">
             <div class="copyright">
             </div>
          </div>
       </footer>
      </div>
  </body>
</html>