<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="New web page">
      <meta name="keyword" content="keyword">
      <meta name="lenguage" content="ES">
      <meta name="author" content="exdesy.design@gmail.com">
      <meta name="robots" content="index.follow">
      <meta name="revised" content="Day, Month, Date, Year, Time">
      <meta name="vierport" content="width=device=width, initial scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1">

      <title>Head</title>
      <link rel="shortcut icon" href="img/logo.ico">
      <!-- ------------------------------  LIBRARY  ------------------------------ -->

      <!-- ------------------------------  STYLES  ------------------------------ -->
      <link href="resourses/css/index.css" rel="stylesheet" type="text/css"/>
      <link href="resourses/css/create.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      <div class="wrapper">
        <header>
          <h1>Gestion <span>Generica</span></h1>
          <nav class="menu">
            <a href="/index">Inicio</a></li>
            <div class="crud">
              <a href="/create">CREAR</a></li>
              <a href="/edite">MODIFICAR</a></li>
              <a href="/delete">ELIMINAR</a></li>
              <a href="/consult">CONSULTAR</a></li>
            </div>
          </nav>
        </header>
         <div class="content">
            <main>
              <div class="form-container">
                <form class="form">
                  <h1>Eliminar Usuario</h1>
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input name="email" id="email" type="email" required>
                  </div>
                  <button type="submit" class="form-submit-btn">Eliminar</button>
                </form>
              </div>
            </main>
            <footer>

            </footer>
         </div>
      </div>
   </body>
</html>