<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="New web page">
      <meta name="keyword" content="keyword">
      <meta name="lenguage" content="ES">
      <meta name="author" content="exdesy.design@gmail.com">
      <meta name="robots" content="index.follow">
      <meta name="revised" content="Day, Month, Date, Year, Time">
      <meta name="vierport" content="width=device=width, initial scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1">

      <title>Head</title>
      <link rel="shortcut icon" href="img/logo.ico">
      <!-- ------------------------------  LIBRARY  ------------------------------ -->

      <!-- ------------------------------  STYLES  ------------------------------ -->
      <link href="resourses/css/index.css" rel="stylesheet" type="text/css"/>
      <link href="resourses/css/home.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      <div class="wrapper">
        <header class="header">
          <div class="header-title">
            <h1 class="title-text">Gestion <span>Generica</span></h1>
          </div>
          <nav class="header-nav">
            <div class="nav-menu">
              <a class="menu-text" href="/home">Inicio</a></li>
              <a class="menu-text" href="/create">CREAR</a></li>
              <a class="menu-text" href="/edite">MODIFICAR</a></li>
              <a class="menu-text" href="/delete">ELIMINAR</a></li>
              <a class="menu-text" href="/consult">CONSULTAR</a></li>
            </div>
          </nav>
        </header>
         <div class="content">
            <main>
              <div class="card">
                <h1 class="heading">Interfaz Aplicacion Web Gestion Generica</h1>
              </div>
            </main>
         </div>
         <footer>
          <div class="footer">
             <div class="copyright">
                <h1 class="footer-text">Hecho bajo de control de EMILIO SANTIAGO MORENO OLIVA</h1>
                <a class="copy" href="/home">© Vedruners</a>
             </div>
          </div>
       </footer>
      </div>
   </body>
</html>