<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="New web page" />
    <meta name="keyword" content="keyword" />
    <meta name="lenguage" content="ES" />
    <meta name="author" content="exdesy.design@gmail.com" />
    <meta name="robots" content="index.follow" />
    <meta name="revised" content="Day, Month, Date, Year, Time" />
    <meta name="vierport" content="width=device=width, initial scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge, chrome1" />

    <title>USER</title>
    <link rel="shortcut icon" href="resourses/lib/img/logo.ico" />
    <!-- ------------------------------  LIBRARY  ------------------------------ -->

    <!-- ------------------------------  STYLES  ------------------------------ -->
    <link href="resourses/css/index.css" rel="stylesheet" type="text/css" />
    <link href="resourses/css/style.css" rel="stylesheet" type="text/css" />
    <link href="resourses/css/consult.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-title">
          <a class="title-img" href="/home"><img src="resourses/lib/img/logo.png"/></a>
          <h1 class="title-text">GENERICS <span>Gestion Generica</span></h1>
        </div>
        <nav class="header-nav">
          <div class="nav-menu">
            <a class="menu-text" onclick="showContent('create')">CREAR</a></li>
            <a class="menu-text" onclick="showContent('edit')">MODIFICAR</a></li>
            <a class="menu-text" onclick="showContent('delete')">ELIMINAR</a></li>
            <a class="menu-text" href="/consult">CONSULTAR</a></li>
            <a class="menu-text" href="/checkRegister">Aprobar Registro</a></li>
          </div>
        </nav>
      </header>
      <div class="content">
        <main>
          <div class="content">
            <main>
              <div id="mainContent">

              </div>
            </main>
          </div>
        </main>
        <footer>
          <div class="footer">
            <div class="copyright">
            </div>
          </div>
        </footer>
      </div>
    </div>
    </div>
    <script src="resourses/js/user.js"></script>
  </body>
</html>
