/* ------------------------------  DEFOULT SETTINGS  ------------------------------ */
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	color: var(--color);
  font-family: monospace;
}
a {
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
/* ------------------------------  FONTS  ------------------------------ */

/* ------------------------------  VARIABLES  ------------------------------ */
:root {
	--index: calc(1vw + 1vh);
	--color: #2d2d2d;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
	--gallery-gap: calc(var(--index) * 7.5)
}
.wrapper {
	min-height: 100%;
	overflow: hidden; 
	/* -----  FOOTER IS ALWAYS BOTTOM...X  ----- */
	display: flex;
	flex-direction: column;
}

.content {
	margin: 15% auto;
	/* -----  CONTENT BORDER  ----- */
	max-width: 90%;
}
main {
	/* -----  X...AFTER MAIN  ----- */
	flex: 1 1 auto;
}
/* ------------------------------  HEADER...  ------------------------------ */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1%;
  box-shadow: 0 2px 5px #0000001a;
}

.header-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-items: center;
  justify-content: space-around;
  padding: 10px;
}
.title-text {
  color: #2d2d2d;
  font-size: calc(var(--index) * 1.7);
  letter-spacing: 0.5rem;
  word-spacing: 0.8rem;
  text-transform: uppercase;
}
.title-text span {
  color: #40c9ff;
}

.header-nav {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: calc(var(--index) * .5);
  margin: auto;
  top: 0;
}
.nav-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.menu-text {
 padding: 12px 16px;
 border: unset;
 border-radius: 6px;
 font-weight: 900;
 min-width: 150px;
 color: #2d2d2d;
 z-index: 1;
 background: #ffffff;
 border: 1px solid #414141;
 position: relative;
 -webkit-box-shadow: 3px 4px 7px -3px #0000001a;
 box-shadow: 3px 4px 7px -3px #0000001a;
 transition: all 250ms;
 overflow: hidden;
}

.menu-text::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 6px;
 background-color: #e81cff;
 z-index: -1;
 -webkit-box-shadow: 3px 4px 7px -3px #0000001a;
 box-shadow: 3px 4px 7px -3px #0000001a;
 transition: all 250ms
}

.menu-text:hover {
 color: #ffffff;
}
.menu-text:hover::before {
 width: 100%;
}
/*  ------------------------------  FOOTER...  ------------------------------ */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 20px;
  background-color: #ffffff;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: auto;
  line-height: 2;
}